/*Style sheet created by : Sumit Jindal,  c0754947*/

/*Style for body specifies a background color*/
body{
	/* background-color: #c1c8e4; */
	background: -moz-linear-gradient(right,#859398,#283048);
	background: -o-linear-gradient(right,#859398,#283048);
	background: -webkit-linear-gradient(right,#859398,#283048);
	background: linear-gradient(to right,#859398, #283048);
}
.bx-wrapper {
	margin-bottom: 20px;
}

.back {
	font-size: 0.7em;
}
.accordion{
	background-color:antiquewhite;
}
div{
	max-width: 100%;
}

/*  Style to create  fluid image  */
img{
max-width: 100%;
}
.banner{
	max-width:100%;
	max-height:80%;
	border-radius: 10px;
}
nav{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 0.8em;
	font-weight:bold;
	text-align: center;
	
}
/* style specifies padding and margins for unordered list */
nav ul{
	padding: 0;
	margin-top: -0.7em;
	margin-bottom: 0.5em;
}
/*style for nav li specifies the background color, rounded corners, removes bullet style */
nav li {
	/* background-color:black; */
	list-style-type: none;
	border-radius: 1em;
	padding: 0.4em;
	margin: 0.3em;
}
nav li a{
text-decoration: none;
}
nav a:link{
	color: white;	
}

nav a:visited{
	color: orange;
}
nav a:hover{
	background-color: white;
	color: black;
}
nav a:active{
	color: blue;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
header{
	margin: 10px 0 10px 0 ;
}
main{
	display:block;
	
}
.mobile{
	display: inline;
}
.desktop{
	display:none;
}

.productOfWeek{
	float: left;
	padding-right:6em;
	height: 20%;
	width: 20%;
}

.WeeklySales{
	
	padding-right:1.5em;
	height: 18%;
	width: 18%;
}
.whyUs{
	padding-left: 2em;
	font-size: 1.3em;
	/* border: 1.5px  solid black; */
}
.offers li{
	font-size: 1.3em;
	text-align: left;
	
	/*padding-left: 2em;*/
}
div.gallery {
  margin: 19px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {

	padding: 8px;
  text-align: left;
  font-size: 0.8em;
}
/*------------------------------------------------quality assurance-----------*/
.quality{
	float:left;
}
.qualityIMG{
	width: 5%;
	height: 5%;
	float:left;
	padding: 3em 0em 1em;
}
.quality p{
	padding: 3em;
	font-size: 1em;
}
/* article {
	margin : 1em;
	padding: 1em;
	background-color:#acb3ca;
	
} */

		/*--------------------------------------------------------- Styles for Tablet layout ----------------------------------------------------- */
@media only screen and (min-width : 615px){
#container{
	width: 100% ;
	margin-left: auto ;
	margin-right: auto ;
}
	/*---------------Style for the header specifies top margin, background color, rounded corners and center-align content --------------*/
 nav ul{
	margin: 0;
	padding-left: 0.50%;
	padding-right: 0.50%;
}

nav li{
	
	display: inline;
	border-radius: 1em;
	margin-left: 4px;
	margin-right: -5px;
	
}
nav li a{
	display: inline-block;
	padding: 0.7em;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1em;

}
.whyUs{
	display: none;
}
.mobile{
	display: none;
}
.tablet{
	display:inline;
}	


 }
/*-------------------------------------------------------------------- Styles for Desktop layout ------------------------------------------------------------ */
 
@media only screen and (min-width: 769px){
#container{
	max-width: 80%;
	margin-left: auto;
	margin-right:auto; 
}
nav{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 0.8em;
	font-weight:bold;
	text-align: center;
	
}
/* style specifies padding and margins for unordered list */
nav ul{
	
	padding: 0;
	margin-top: -0.7em;
	margin-bottom: -0.5em;
}
/*style for nav li specifies the background color, rounded corners, removes bullet style */
nav li {
	
	list-style-type: none;
	border-radius: 1em;
	padding: 0.4em;
	margin: 0em;
}
.desktop{
	font-family:"Times New Roman", Times, serif;
	font-size: 1.1em;
	font-weight:bold;
}

}
 /*Style for footer specifies font size, text alignment ,and top margin*/
footer{
	float: left;
	font-size: .90em;
	text-align: center;
	 width: 100%; 
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: #ccc;
}